@page "/start-workout/{id:int}"
@using Model.DTOs
@using Blazor.Services
@inject WorkoutService service

<h1>Start Workout</h1>
<div>
    <h2>@Workout.Name</h2>
    <p>@Workout.Description</p>
    <p>Duration: @Workout.DurationInMin minutes</p>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Duration (minutes)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in Workout.Exercises)
        {
            <tr>
                <td>@exercise.Id</td>
                <td>@exercise.Name</td>
                <td>@exercise.Description</td>
                <td>@exercise.Duration</td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter]
    public int id { get; set; }

    private WorkoutDTO Workout { get; set; }


    protected async override void OnInitialized()
    {
        Workout = await service.GetWorkout(id);
    }
}
