@page "/start-workout/{id:int}"
@inject WorkoutService service

<AuthorizeView Roles="Member,Trainer,Admin">
    <Authorized>
        <div>
            <h2>@Workout.Name</h2>
            <p>@Workout.Description</p>
            <p>Duration: @Workout.DurationInMin minutes</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Duration (minutes)</th>
                </tr>
            </thead>
            <tbody>
                @if (Workout.Exercises != null)
                {
                    foreach (var exercise in Workout.Exercises)
                    {
                        <tr>
                            <td>@exercise.Name</td>
                            <td>@exercise.Description</td>
                            <td>@exercise.Duration</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        <Login url="/start-workout/{id}" />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int id { get; set; }

    WorkoutDTO Workout = new WorkoutDTO()
    {
        Name = "",
        Description = ""
    };


    protected override async Task OnInitializedAsync()
    {
        Workout = await service.GetWorkout(id);
    }
}
